<hr>

<footer class="text-center">
    <p> <a href="https://github.com/korczis/lethe.it/blob/master/LICENSE" target="_blank">MIT</a> &copy; <a href="mailto:korCZis@gmail.com?Subject=lethe.it" target="_top">korCZis@gmail.com</a> 2014</p>
</footer>