<div id="fb-root">
    <fb:login-button scope="public_profile, public_profile, user_friends, read_stream, read_mailbox, read_page_mailboxes, rsvp_event, email, ads_management, read_insights, manage_notifications, read_friendlists, manage_pages, publish_actions, user_birthday, user_religion_politics, user_relationships, user_relationship_details, user_hometown, user_location, user_likes, user_activities, user_interests, user_education_history, user_work_history, user_website, user_groups, user_events, user_photos, user_videos, user_friends, user_about_me, user_status, user_games_activity, user_actions.books, user_actions.music, user_actions.video, user_actions.news" onlogin="checkLoginState();"
                     autologoutlink="true">
    </fb:login-button>

    <div id="status">
    </div>

    <article>
        <header>
            <h1>article header h1</h1>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor.
                Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper
                consequat est, eu porta velit mollis nec.</p>
        </header>
        <section>
            <h2>article section h2</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor.
                Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper
                consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam
                ullamcorper lorem dapibus velit suscipit ultrices. Proin in est sed erat facilisis pharetra.</p>
        </section>
        <section>
            <h2>article section h2</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor.
                Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper
                consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam
                ullamcorper lorem dapibus velit suscipit ultrices. Proin in est sed erat facilisis pharetra.</p>
        </section>
        <footer>
            <h3>article footer h3</h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor.
                Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper
                consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor.</p>
        </footer>
    </article>

    <aside>
        <h3>aside</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc
            vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est,
            eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem
            dapibus velit suscipit ultrices.</p>
    </aside>